<div class="portfolio-container">
  <div class="header">
    <div class="title">
      <h1>portfolio page</h1>
    </div>
    <div class="header-links">
      <%= link_to "About me", about_path, class: 'link-to-about' %>
      <%= link_to "Homepage", root_path, class: 'link-to-home'  %>
    </div>
  </div>
  <div class="portfolio-page-container">
    <div class="carousel-images">

    </div>
    <div class="video-box">
      <h1>Here is my Showreel</h1>
      <%# <%= video_tag "#", :controls => true %>
      <video class='showreel' src="" controls></video>
    </div>
    <div class="audio-box">
      <h1>Here is my voice reel</h1>
      <audio class='voice-reel' src="#" controls></audio>
      <%# <%= audio_tag "#", :controls => true %>
    </div>

  </div>


  <div class="footer">
    <div class="footer-left">
      <div class='footer-icon'><%= link_to icon('fa-brands', 'imdb fa-2x'), 'https://www.imdb.com/name/nm9973363/?ref_=nv_sr_srsg_1', :target => "_blank" %></div>
      <div class='footer-icon'><%= link_to icon('fa-brands', 'instagram fa-2x'), 'https://www.instagram.com/quanna_l/', :target => "_blank" %></div>
      <div class='footer-icon'><%= link_to icon('fa-brands', 'twitter fa-2x'), 'https://twitter.com/quannaluo?lang=en-GB', :target => "_blank"%></div>
      <div class='footer-icon'><%= link_to icon('fa-regular', 'comments fa-2x'), 'https://www.sueterryvoices.com/artist/quanna-luo-masterson', :target => "_blank"%></div>
    </div>
    <div class="footer-right">
  <%= link_to "Back to the top", portfolio_path, class: 'link-footer'  %>
    </div>
  </div>
</div>
