<div class="portfolio-container">
  <div class="header">
    <div class="logo">
      <h1>
        <span>Q</span>
        <span>uanna</span>
      </h1>
    </div>
    <div class="header-links">
      <%= link_to "About me", about_path, class: 'link-to-about' %>
      <%= link_to "Homepage", root_path, class: 'link-to-home'  %>
    </div>
  </div>
  <div class="portfolio-page-container">
    <%# <div class="photos-container">
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
    </div> %>
    <div class="video-box">
      <video class='showreel' src="" controls></video>
    </div>
      <div class="audio-box">
        <audio class='voice-reel' src="#" controls></audio>
      </div>
    <div class="quote-container-portfolio">
      <h1>
        <span>There</span>
        <span>are</span>
        <span>no</span>
        <span>limits</span>
        <span>to</span>
        <span>what</span>
        <span>you</span>
        <span>can</span>
        <span>accomplish,</span>
        <span>except</span>
        <span>the</span>
        <span>limits</span>
        <span>you</span>
        <span>place</span>
        <span>on</span>
        <span>your</span>
        <span>own</span>
        <span>thinking.</span>
      </h1>
      <h1>
        <span>The</span>
        <span>only</span>
        <span>impossible</span>
        <span>journey</span>
        <span>is</span>
        <span>the</span>
        <span>one</span>
        <span>you</span>
        <span>don't,</span>
        <span>begin.</span>
      </h1>
    </div>
    <div class="photos-container">
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
      <div class="photo-box">
      </div>
    </div>


  </div>


  <div class="footer">
    <div class="footer-left">
      <div class='footer-icon'><%= link_to icon('fa-brands', 'imdb fa-2x'), 'https://www.imdb.com/name/nm9973363/?ref_=nv_sr_srsg_1', :target => "_blank" %></div>
      <div class='footer-icon'><%= link_to icon('fa-brands', 'instagram fa-2x'), 'https://www.instagram.com/quanna_l/', :target => "_blank" %></div>
      <div class='footer-icon'><%= link_to icon('fa-brands', 'twitter fa-2x'), 'https://twitter.com/quannaluo?lang=en-GB', :target => "_blank"%></div>
      <div class='footer-icon'><%= link_to icon('fa-regular', 'comments fa-2x'), 'https://www.sueterryvoices.com/artist/quanna-luo-masterson', :target => "_blank"%></div>
    </div>
    <div class="footer-right">
  <%= link_to "Back to the top", portfolio_path, class: 'link-footer'  %>
    </div>
  </div>
</div>
